<div class="installer-requirements">
    <h2>{% trans %}Pre-installation tests{% endtrans %}</h2>
    
    <table class="modlog">
        <thead>
            <tr>
                <th>{% trans %}Category{% endtrans %}</th>
                <th>{% trans %}Test{% endtrans %}</th>
                <th>{% trans %}Result{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% set errors = 0 %}
            {% set warnings = 0 %}
            {% for test in tests %}
                <tr>
                    <td class="minimal"><strong>{{ test.category }}</strong></td>
                    <td>{{ test.name|raw }}</td>
                    <td class="minimal text-center">
                        {% if test.result %}
                            <i class="fa fa-check" style="color:#090;font-size:11pt;" title="{% trans %}Passed{% endtrans %}"></i>
                        {% else %}
                            {% if test.required %}
                                {% set errors = errors + 1 %}
                                <i class="fa fa-exclamation" style="color:#d00;font-size:11pt;" title="{% trans %}Error{% endtrans %}"></i>
                            {% else %}
                                {% set warnings = warnings + 1 %}
                                <i class="fa fa-warning" style="color:#f80;font-size:11pt;" title="{% trans %}Warning{% endtrans %}"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% if errors or warnings %}
        {% if errors %}
            <div class="installer-errors">
                <h3>{% trans %}Errors{% endtrans %}</h3>
                <p><strong>{{ errors }} {% trans %}error(s) found{% endtrans %}</strong></p>
                <ul>
                    {% for test in tests %}
                        {% if not test.result and test.required %}
                            <li>
                                <i class="fa fa-exclamation" style="color:#d00"></i> 
                                <strong>{% trans %}Error:{% endtrans %}</strong> 
                                {{ test.message|raw }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if warnings %}
            <div class="installer-warnings">
                <h3>{% trans %}Warnings{% endtrans %}</h3>
                <p><strong>{{ warnings }} {% trans %}warning(s) found{% endtrans %}</strong></p>
                <ul>
                    {% for test in tests %}
                        {% if not test.result and not test.required %}
                            <li>
                                <i class="fa fa-warning" style="color:#f80"></i> 
                                <strong>{% trans %}Warning:{% endtrans %}</strong> 
                                {{ test.message|raw }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <div class="installer-continue">
            {% if errors %}
                <a href="?step=3">{% trans %}Ignore errors and attempt installing anyway (not recommended){% endtrans %}</a>
            {% else %}
                <a href="?step=3">{% trans %}Proceed with installation{% endtrans %}</a>
            {% endif %}
        </div>
    {% else %}
        <div class="installer-success">
            <p>{% trans %}There were no errors or warnings. Good!{% endtrans %}</p>
        </div>
        
        <div class="installer-continue">
            <a href="?step=3">{% trans %}Proceed with installation{% endtrans %}</a>
        </div>
    {% endif %}
</div>