<form class="installer-form" action="?step=4" method="post" autocomplete="off">
    <h2>{% trans %}Configuration{% endtrans %}</h2>
    
    <p class="text-center unimportant">
        {% trans %}The following is all later configurable. For more options, edit your configuration files after installing.{% endtrans %}
    </p>
    
    <fieldset>
        <legend>{% trans %}Database (MySQL){% endtrans %}</legend>
        
        <label for="db_server">{% trans %}Server:{% endtrans %}</label>
        <input type="text" id="db_server" name="db[server]" value="{{ config.db.server }}">
        
        <label for="db_db">{% trans %}Database:{% endtrans %}</label>
        <input type="text" id="db_db" name="db[database]" value="{{ config.db.database }}">
        
        <label for="db_prefix">{% trans %}Table prefix (optional):{% endtrans %}</label>
        <input type="text" id="db_prefix" name="db[prefix]" value="{{ config.db.prefix }}">
        
        <label for="db_user">{% trans %}Username:{% endtrans %}</label>
        <input type="text" id="db_user" name="db[user]" value="{{ config.db.user }}">
        
        <label for="db_pass">{% trans %}Password:{% endtrans %}</label>
        <input type="password" id="db_pass" name="db[password]" value="">
    </fieldset>
    
    <fieldset>
        <legend>{% trans %}Cookies{% endtrans %}</legend>
        
        <label for="cookies_mod">{% trans %}Moderator cookie:{% endtrans %}</label>
        <input type="text" id="cookies_mod" name="cookies[mod]" value="{{ config.cookies.mod }}">
        
        <label for="cookies_salt">{% trans %}Secure salt:{% endtrans %}</label>
        <input type="text" id="cookies_salt" name="cookies[salt]" value="{{ config.cookies.salt }}" size="40">
    </fieldset>
    
    <fieldset>
        <legend>{% trans %}Flood control{% endtrans %}</legend>
        
        <label for="flood_time">{% trans %}Seconds before each post:{% endtrans %}</label>
        <input type="text" id="flood_time" name="flood_time" value="{{ config.flood_time }}">
        
        <label for="flood_time_ip">{% trans %}Seconds before you can repost something (post the exact same text):{% endtrans %}</label>
        <input type="text" id="flood_time_ip" name="flood_time_ip" value="{{ config.flood_time_ip }}">
        
        <label for="flood_time_same">{% trans %}Same as above, but with a different IP address:{% endtrans %}</label>
        <input type="text" id="flood_time_same" name="flood_time_same" value="{{ config.flood_time_same }}">
        
        <label for="max_body">{% trans %}Maximum post body length:{% endtrans %}</label>
        <input type="text" id="max_body" name="max_body" value="{{ config.max_body }}">
        
        <label for="reply_limit">{% trans %}Replies in a thread before it can no longer be bumped:{% endtrans %}</label>
        <input type="text" id="reply_limit" name="reply_limit" value="{{ config.reply_limit }}">
        
        <label for="max_links">{% trans %}Maximum number of links in a single post:{% endtrans %}</label>
        <input type="text" id="max_links" name="max_links" value="{{ config.max_links }}">
    </fieldset>
    
    <fieldset>
        <legend>{% trans %}Images{% endtrans %}</legend>
        
        <label for="max_filesize">{% trans %}Maximum image filesize (bytes):{% endtrans %}</label>
        <input type="text" id="max_filesize" name="max_filesize" value="{{ config.max_filesize }}">
        
        <label for="thumb_width">{% trans %}Thumbnail width:{% endtrans %}</label>
        <input type="text" id="thumb_width" name="thumb_width" value="{{ config.thumb_width }}">
        
        <label for="thumb_height">{% trans %}Thumbnail height:{% endtrans %}</label>
        <input type="text" id="thumb_height" name="thumb_height" value="{{ config.thumb_height }}">
        
        <label for="max_width">{% trans %}Maximum image width:{% endtrans %}</label>
        <input type="text" id="max_width" name="max_width" value="{{ config.max_width }}">
        
        <label for="max_height">{% trans %}Maximum image height:{% endtrans %}</label>
        <input type="text" id="max_height" name="max_height" value="{{ config.max_height }}">
    </fieldset>
    
    <fieldset>
        <legend>{% trans %}Display{% endtrans %}</legend>
        
        <label for="threads_per_page">{% trans %}Threads per page:{% endtrans %}</label>
        <input type="text" id="threads_per_page" name="threads_per_page" value="{{ config.threads_per_page }}">
        
        <label for="max_pages">{% trans %}Page limit:{% endtrans %}</label>
        <input type="text" id="max_pages" name="max_pages" value="{{ config.max_pages }}">
        
        <label for="threads_preview">{% trans %}Number of replies to show per thread on the index page:{% endtrans %}</label>
        <input type="text" id="threads_preview" name="threads_preview" value="{{ config.threads_preview }}">
    </fieldset>
    
    <fieldset>
        <legend>{% trans %}Directories{% endtrans %}</legend>
        
        <label for="root">{% trans %}Root URI (include trailing slash):{% endtrans %}</label>
        <input type="text" id="root" name="root" value="{{ config.root }}" size="40">
    </fieldset>
    
    <fieldset>
        <legend>{% trans %}Miscellaneous{% endtrans %}</legend>
        
        <label for="secure_trip_salt">{% trans %}Secure trip (##) salt:{% endtrans %}</label>
        <input type="text" id="secure_trip_salt" name="secure_trip_salt" value="{{ config.secure_trip_salt }}" size="40">
        
        <label for="secure_password_salt">{% trans %}Poster password salt:{% endtrans %}</label>
        <input type="text" id="secure_password_salt" name="secure_password_salt" value="{{ config.secure_password_salt }}" size="40">
        
        <label for="more">{% trans %}Additional configuration:{% endtrans %}</label>
        <textarea id="more" name="more">{{ more }}</textarea>
    </fieldset>
    
    <input type="submit" value="{% trans %}Complete installation{% endtrans %}">
</form>