<div class="installer-welcome">
    <h2>{% trans %}Welcome!{% endtrans %}</h2>
    <div class="welcome-text">
        <p>{% trans %}When you see this page, it means 4im is ready to install. Welcome to 4im, a modern imageboard platform that blends Asian culture and habits as an alternative to 4chan.{% endtrans %}</p>
        <p>{% trans %}Before starting the installation, please prepare your MySQL database and its credentials. If everything is ready, click the button below to start the installation.{% endtrans %}</p>
    </div>
    <div class="installer-continue">
        <a href="?step=1">{% trans %}Start Installation{% endtrans %}</a>
    </div>
</div>